.base {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F7F7F8;

    &__stretched {
        display: flex;
        flex-direction: column;
    }
}

.content {
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
}
