.headerBackground {
    width: 100%;
    height: 100%;
}

.seriesItem {
    list-style-type: none;
}

.booksList {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    row-gap: 24px;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 24px;

    & > * {
        width: 30%;
    }
}

.bookCard {
    &_body {
        display: flex;
        flex-direction: column;
    }
}
